@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Special Elite', cursive; 
    --fonte3: 'Sriracha', cursive;
    }

*{
    margin: 0px;
    padding:  0px;

}

html, body {
    min-height: 100vh;
    background-color: #f7b590;
    font-family: var(--fonte1);
}

header {
    background-color: #f7b590;
    color: #f0482a;
    font-family: var(--fonte2);
    text-align: center;
    font-size: 1.5vw;;
}

header > h1 {
    padding-top: 50px;
    font-size: 8vw;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

header a {
    color: #3332ff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.5vw;
}

a:hover {
    color: white;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 50px;

    font-family: var(--fonte3);
    font-size: 2vw;

}

section.normal1 {
    background-color: #3332ff;
    color: white;
}

section.normal2 {
    background-color: #f0482a;
    color: white;
}

section.normal3 {
    background-color: #FAB600;
    color: white;
}

section.imagem {
    background-color: rgb(39, 36, 36);
    color: white;
}

section.imagem > p {
    display: block;
    padding: 20px;
    width: 350px;
    background-color: rgba(0, 0, 0, 0.24);
}

footer {
    background-color: #3332ff;
    color: white;
    text-align: center;
}

footer a {
    color: #FAB600;
    text-decoration: none;
    font-weight: bolder;

}

footer a:hover {
    color: #f0482a;
}